﻿<div style="width: 100%; text-align: center;">
    <div style="width: min(90vw, 35rem); margin-left: auto; margin-right: auto;">
        <div style="background-color: #fafafa; border-radius: 5px; overflow: hidden;">
            <div style="background: linear-gradient(45deg, #6610f2, #8f7247); text-align: center;">
                <img src="https://kcoapi.ainalsaqer.app/logo.png" alt="logo"
                     style="height: 8rem; padding: 2rem;">
            </div>
            <div style="padding: 1rem;">
                <h2>
                    Hi {0} your account has been rejected.
                    <p style="font-size: 20px; ">Reason: {1}</p>
                </h2>
            </div>
            <div style="background: linear-gradient(45deg, #6610f2, #8f7247); text-align: center; padding: 1rem;"
                 dir="ltr">
                <h4 style="color:black">All rights reserved Kuwait Consault ©</h4>
            </div>
        </div>
    </div>
</div>